.NavItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}

.NavItem a {
  color: rgba(15, 15, 15, 0.5);
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.NavItem a:active,
.NavItem a.active {
  color: #0f0f0f;
  transition: color 250ms ease-in-out;
}

@media (min-width: 500px) {
  .NavItem {
    margin: 0;
    height: 100%;
    width: auto;
  }
  .NavItem a {
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .NavItem a:hover {
    background-color: rgba(136, 96, 208,0.2);
    transition: background-color 250ms ease-in-out;
  }
  .NavItem a:active,
  .NavItem a.active {
    border-bottom: 4px solid #092c74;
    background-color:  rgba(136, 96, 208,1);
    color: #fff;
    transition: border-bottom 750ms ease-in-out;
  }
}
