.GridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr minmax(auto,40em);
  grid-template-areas: 
    "h h h"
    "s m m";
  height: 100%;
  margin: 2em 2em;
  -webkit-box-shadow: 0 8px 6px -6px  #092c74;
  -moz-box-shadow: 0 8px 6px -6px  092c74;
       box-shadow: 0 8px 6px -6px #092c74;

}
.Header {
  font-size: 2em;
  grid-area: h;
  justify-self: center;
  align-self: center;
  color: #092c74;
}
.Main {
  grid-area: m;
}
.Side {
  grid-area: s;
  justify-self: center;
  align-self: center;
}
.Side div {
  border-bottom: 1px solid rgba(148, 201, 249, 0.5);
}
@media (max-width: 650px) {
   .GridContainer {
     grid-template-columns: 1fr;
     grid-template-rows: 2fr 1fr 3fr;
     grid-template-areas: 
      "s"
      "h"
      "m";
      font-size: 0.8em;
   }
   .Side {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto auto;

   }
   .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
}